<div class="giscus"></div>

<script src="https://giscus.app/client.js"
        data-repo="ljx1608/ljx1608.github.io"
        data-repo-id="R_kgDOQvMMCg"
        data-category="comments"
        data-category-id="DIC_kwDOQvMMCs4C0QgC"
        data-mapping="pathname"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
